extends ../layout

block content
	.container(style="margin-bottom:50px;")
		.row
			form.form-horizontal(method = "post", action = "/admin/movie")
				.form-group
					label.col-sm-2.control-label 豆瓣同步
					.col-sm-10
						input#douban.form-control(type="text")
				if movie._id
					input(type = 'hidden', name = 'id', value = movie._id)
				.form-group
					label.col-sm-2.control-label(for = "inputCategory") 电影分类
					.col-sm-10
						input#inputCategory.form-control(type = "text", name = "categoryName", value = movie.category)
				.form-group
					label.col-sm-2.control-label 分类选择
					each cat in categories
						label.radio-inline
							if movie._id
								input(type="radio", name="cateName", value=cat._id, checked=cat._id.toString()==movie.category.toString())
							else
								input(type="radio", name="cateName", value=cat._id)
							| #{cat.name}
				.form-group
					label.col-sm-2.control-label(for = "inputTitle") 电影名称
					.col-sm-10
						input#inputTitle.form-control(type = "text", name = "title", value = movie.title)
				.form-group
					label.col-sm-2.control-label(for = "inputdirector") 导演
					.col-sm-10
						input#inputDirector.form-control(type = "text", name = "director", value = movie.director)
				.form-group
					label.col-sm-2.control-label(for = "inputCountry") 国家
					.col-sm-10
						input#inputCountry.form-control(type = "text", name = "country", value = movie.country)
				.form-group
					label.col-sm-2.control-label(for = "inputLanguage") 语言
					.col-sm-10
						input#inputLanguage.form-control(type = "text", name = "language", value = movie.language)
				.form-group
					label.col-sm-2.control-label(for = "inputYear") 上映年份
					.col-sm-10
						input#inputYear.form-control(type = "text", name = "year", value = movie.year)
				.form-group
					label.col-sm-2.control-label(for = "inputsummary") 简介
					.col-sm-10
						input#inputSummary.form-control(type = "text", name = "summary", value = movie.summary)
				.form-group
					label.col-sm-2.control-label(for = "inputPoster") 海报地址
					.col-sm-10
						input#inputPoster.form-control(type = "text", name = "poster", value = movie.poster)
				.form-group
					label.col-sm-2.control-label(for = "inputFlash") 片源地址
					.col-sm-10
						input#inputFlash.form-control(type = "text", name = "flash", value = movie.flash)
				.form-group
					.col-sm-12
					button.btn.btn-default(type="submit") 录入
	script(src='/js/admin.js')
